/* CSS styles for the form */

html, body {
  height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #aaa;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  
  .container {
    display: flex;
    background: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    gap: 16px;
    padding: 16px;
      
  }

  


  
  img {
    width: 10rem;
    height: 50rem;
    
  }

  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"],
  input[type="tel"] {
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-actions {
    text-align: center;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }